/* ROOT */
:root {
    --main-header-col: rgb(78, 50, 16);
    --body-text-col: rgb(136, 91, 36);
}

/* MAIN */
* {
    margin: 0;
    padding: 0;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar-nav {
   flex-direction: row;
}

.nav-item {
    padding: 10px;
}

/* Main elements */
.btn {
    background: rgb(128, 108, 84);
    color: #fff;
}

.btn:hover {
    opacity: 0.7;
}

h3 {
    color: var(--main-header-col);
    font-weight: 500;
    font-size: 35px;
}

.body-text {
    color: var(--body-text-col);
}

.container {
    justify-content: center;
}

/* HERO */
.jumbotron {
    margin-top: 40px;
    padding: 100px;
    background: rgb(230, 217, 194);
}

.intro {
    align-self: center;
}

#image {
    align-items: center;
    height: 300px;
    width: 320px; 
    border-radius: 50%;
}

/* WORK */
.card {
    max-height: 100%;
}

/* CONTACT */
#contact-me {
    display: flex;
    justify-content: center;
}

.contact-link {
    color: var(--body-text-col);
}

/* FOOTER */
footer {
    /* position: fixed;
    left: 0;
    bottom: 0; */
    width: 100%;
}