/* ROOT */
:root {
    --main-header-col: rgb(78, 50, 16);
    --body-text-col: rgb(136, 91, 36);
}

/* MAIN */
* {
    margin: 0;
    padding: 0;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar-nav {
   flex-direction: row;
}

.nav-item {
    padding: 10px;
}

/* MAIN ELEMENTS USED IN BODY */
.btn {
    background: rgb(128, 108, 84);
    color: #fff;
}

.btn:hover {
    opacity: 0.7;
}


h3 {
    color: var(--main-header-col);
    font-weight: 500;
    font-size: 35px;
    text-align: center;
}

.body-text {
    color: var(--body-text-col);
}

.container {
    justify-content: center;
}

/* HERO */
.jumbotron {
    margin-top: 40px;
    padding: 100px;
    background: rgb(230, 217, 194);
}

.intro {
    align-self: center;
    color: var(--main-header-col);
}

#image {
    height: 300px;
    width: 320px; 
    border-radius: 50%;
}

/* MAIN BODY */
main {
    max-width: 88%;
    margin-left:auto;
    margin-right: auto;
}

/* WORK SECTION */
.card {
    max-height: 100%;
}

.card-title {
    color: var(--main-header-col);
}

/* SKILLS SECTION */
.skills-card {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    border: var(--main-header-col);
}

.skills-list {
    color: var(--body-text-col);
}

/* CONTACT SECTION */
.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contact-link {
    color: var(--body-text-col);
    font-size: 18px;
}

.contact-link:hover {
    color: var(--main-header-col);
    text-decoration: none;
}

/* FOOTER */
footer {
    width: 100%;
}

@media {
    max-width: 768px;
}
